@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #49493E;
  --color-secondary: #D4AF37;
  --color-secondary-dark: #BF9E31;
  --color-accent-light: #F7F7F3;
  --color-accent-dark: #F4F3ED;
  --color-dark: #2C2C2C;
  --color-darker: #282828;
  --color-olive: #DBDB72;
  --color-amberglow: #FDC167;
  --color-peony: #F6D8EC;
  --color-minty: #D2F0EA;
  --color-moss: #BCC5AA;
  --color-coral: #EF764E;
  --color-limeburst: #30F84E;
  --color-ivory: #FFFCF7;
  --color-powder-blue: #2F6690;
  --color-ivory-90: rgba(255, 252, 247, 0.9);
}

body {
  font-family: var(--font-ibm-plex-sans), 'IBM Plex Sans', sans-serif;
}

.serif-text {
  font-family: 'Noto Serif', serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: transparent;
}